@using Intex_Group3_6.Infrastructure
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductDetailViewModel

<div class="container">
    <div class="row">
        <div class="col-md-7 border border-2 p-3">
            <img src="@Model.imgLink" class="img-fluid" alt="@Model.productName">
        </div>
        <div class="col-md-5 border border-2 p-3">
            <h1>@Model.productName</h1>
            <h2 class="fw-bold">$@Model.price</h2>
            <form id="@Model.productId" method="post" asp-page="/Cart">
                <input type="hidden" asp-for="productId" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-primary blue-curved-rectangle">
                    <div class="row">
                        <div class="col-3 spaceman-container">
                            <img src="~/Orange-Spaceman.png" class="img-fluid spaceman" alt="Lego Spaceman">
                        </div>
                        <div class="col-9 d-flex align-items-center">
                            <span class="btn-text">Add to Cart</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="row">
                <h4>Year</h4>
                <p>@Model.year</p>
            </div>
            <hr />
            <div class="row">
                <h4>Number of Parts</h4>
                <p>@Model.numParts</p>
            </div>
        </div>
        <div class="col-9">
            <h4>Description</h4>
            <p>@Model.description</p>
        </div>
    </div>
    <hr />
</div>
    
    
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>More Like This</h2>
            <div class="recommended-products-container d-flex flex-nowrap overflow-auto">
                @*This is where the repeats start*@
                <div style="flex: 0 0 auto; width: 300px; margin-right: 10px;">
                    <a asp-controller="Products" asp-action="ProductDetail" asp-route-productName="@Model.rec1Name">
                        <div class="card">
                            <img src="@Model.rec1Img" class="card-img-top" alt="@Model.rec1Name">
                            <div class="card-body">
                                <h5 class="card-title">@Model.rec1Name</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div style="flex: 0 0 auto; width: 300px; margin-right: 10px;">
                    <div class="card">
                        <img src="@Model.rec2Img" class="card-img-top" alt="@Model.rec2Name">
                        <div class="card-body">
                            <h5 class="card-title">@Model.rec2Name</h5>
                        </div>
                    </div>
                </div>
                        <div style="flex: 0 0 auto; width: 300px; margin-right: 10px;">
                            <div class="card">
                                <img src="@Model.rec3Img" class="card-img-top" alt="@Model.rec3Name">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.rec3Name</h5>
                                </div>
                            </div>
                        </div>
                        <div style="flex: 0 0 auto; width: 300px; margin-right: 10px;">
                            <div class="card">
                                <img src="@Model.rec4Img" class="card-img-top" alt="@Model.rec4Name">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.rec4Name</h5>
                                </div>
                            </div>
                        </div>
                        <div style="flex: 0 0 auto; width: 300px; margin-right: 10px;">
                            <div class="card">
                                <img src="@Model.rec5Img" class="card-img-top" alt="@Model.rec5Name">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.rec5Name</h5>
                                </div>
                            </div>
                        </div>
                        <div style="flex: 0 0 auto; width: 300px; margin-right: 10px;">
                            <div class="card">
                                <img src="@Model.rec6Img" class="card-img-top" alt="@Model.rec6Name">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.rec6Name</h5>
                                </div>
                            </div>
                        </div>
                        <div style="flex: 0 0 auto; width: 300px; margin-right: 10px;">
                            <div class="card">
                                <img src="@Model.rec7Img" class="card-img-top" alt="@Model.rec7Name">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.rec7Name</h5>
                                </div>
                            </div>
                        </div>
                        <div style="flex: 0 0 auto; width: 300px; margin-right: 10px;">
                            <div class="card">
                                <img src="@Model.rec8Img" class="card-img-top" alt="@Model.rec8Name">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.rec8Name</h5>
                                </div>
                            </div>
                        </div>
                        <div style="flex: 0 0 auto; width: 300px; margin-right: 10px;">
                            <div class="card">
                                <img src="@Model.rec9Img" class="card-img-top" alt="@Model.rec9Name">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.rec9Name</h5>
                                </div>
                            </div>
                        </div>
                        <div style="flex: 0 0 auto; width: 300px; margin-right: 10px;">
                            <div class="card">
                                <img src="@Model.rec10Img" class="card-img-top" alt="@Model.rec10Name">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.rec10Name</h5>
                                </div>
                            </div>
                        </div>
                    @*This is where the repeats end*@
                </div>
            </div>
        </div>
    </div>


 <style>
    .blue-curved-rectangle {
        background-color: #83B2F8;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.spaceman-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spaceman {
    max-width: 85%;
    height: auto;
}

.btn-text {
        font-size: 25px; /* Adjust the font size as needed */
    }

    .table td {
        vertical-align: middle;
    }

    .text-right {
        text-align: right;
    }

</style>
