@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var productList = Model.ToList();
}

@model IQueryable<Product>
<div class="container-fluid mb-20">
    <div class="row"><h1>Products</h1></div>
    <div class="row">
        <div class="col-3">

            filters go here
        </div>
        <div class="col-9">
            @for (int i = 0; i < (Model.Count() - 3); i += 3)
            {
                int j = i + 1;
                int k = i + 2;
                <div class="row">
                    <div class="col m-2 border border-2 p-1 w-100 h-100">
                        <img src="@productList[i].imgLink" class="small w-100" />
                        <h2>@productList[i].productName</h2>
                        <h2 class="fw-bold">$@productList[i].price</h2>
                        <a class="btn btn-primary rounded-3"><h2>Add To Cart</h2></a>
                    </div>
                    <div class="col m-2 border border-2 p-1 w-100 h-100">
                        <img src="@productList[j].imgLink" class="small w-100" />
                        <h2>@productList[j].productName</h2>
                        <h2 class="fw-bold">$@productList[j].price</h2>
                        <a class="btn btn-primary rounded-3"><h2>Add To Cart</h2></a>

                    </div>
                    <div class="col m-2 border border-2 p-1 w-100 h-100">
                        <img src="@productList[k].imgLink" class="small w-100" />
                        <h2>@productList[k].productName</h2>
                        <h2 class="fw-bold">$@productList[k].price</h2>
                        <a class="btn btn-primary rounded-3"><h2>Add To Cart</h2></a>
                    </div>
                  
                </div>
            }
            <div class="row">
                @if ((Model.Count() % 3) > 0)
                {
                    for (int i = 0; i < (Model.Count() % 3); i++)
                    {
                        int j = (Model.Count() - 1) + i;
                        <div class="col-4 m-2 border border-2 p-1 h-100">
                            <img src="@productList[j].imgLink" class="small w-100" />
                            <h2>@productList[j].productName</h2>
                            <h2 class="fw-bold">$@productList[j].price</h2>
                            <a class="btn btn-primary rounded-3"><h2>Add To Cart</h2></a>
                        </div>
                    }
                }
            </div>
            
        </div>
    </div>

</div>
