@page
@model Intex_Group3_6.Pages.CartModel
@{
    List<Cart.CartLine> lines = new List<Cart.CartLine>();
}

<div class="row">
    <div class="col-md-8">
        <h2 class="align-items-center d-flex">Your cart</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Subtotal</th>
            <th></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
            {
                <tr>
                <td><img src="@l.Product.imgLink" style="max-width: 100px; max-height: 100px;" /></td>
                    <td class="text-center">@l.Quantity</td>
                    <td class="text-right">@l.Product.price</td>
                <td class="text-right">@((@l.Quantity * @l.Product.price).ToString("c"))</td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="ProductId" value="@l.Product.productId" />
                                <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Remove</button>
                    </form>
                </td>
                </tr>
                lines.Add(l);
            }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart?.CalculateTotal()</td>
        </tr>
    </tfoot>
</table>
        <div class="text-center">
            <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
        </div>
    </div>
        <div class="col-md-4">
            <div class="text-right">
                <h2 class="align-items-center d-flex">Order Summary</h2>
                <p>Cart: (@Model.Cart?.Lines.Sum(x => x.Quantity)) items</p>
                <p>Order Total: @Model.Cart?.CalculateTotal().ToString("c")</p>
                <hr>
            @if (Model.LoggedInUser is not null)
            {
                <form method="post" asp-page-handler="Checkout">
                    <h2>@Model.LoggedInUser?.firstName's cart</h2>
                    <input type="hidden" value="@Model.LoggedInUser.userId" asp-for="Order.userId" />
                    <input type="hidden" value="CVC" asp-for="Order.entryMode" />
                    <input type="hidden" value="@Model.Cart?.CalculateTotal()" asp-for="Order.transactionAmount" />
                    <input type="hidden" value="Online" asp-for="Order.typeOfTransaction" />
                    <input required type="text" value="@Model.LoggedInUser.country" asp-for="Order.countryOfTransaction" />
                    <input required type="text" placeholder="Shipping Address" asp-for="Order.shippingAddress" />
                    <input required type="text" placeholder="Bank" asp-for="Order.bank" />
                    <select required asp-for="Order.typeOfCard">
                        <option value="Visa">Visa</option>
                        <option value="MasterCard">MaterCard</option>
                    </select>
                    <input type="hidden" value="1" asp-for="Order.fraud" />

                    
                    @for (int i = 0; i < lines.Count(); i++) {
                        <input type="hidden" value="@lines[i].Product.productId" asp-for="CartLines[i].Product.productId" />
                        <input type="hidden" value="@lines[i].CartLineId" asp-for="CartLines[i].CartLineId" />
                        <input type="hidden" value="@lines[i].Quantity" asp-for="CartLines[i].Quantity" />
                        }

                    <button type="submit" class="btn btn-primary">Checkout</button>
                </form>
            } else
            {
                <h2>Please log in to check out.</h2>
            }
            
        </div>
    </div>
</div>
