@{
    ViewData["Title"] = "Admin Products";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminProductsViewModel;

<h1>Products</h1>

<a class="btn btn-primary" asp-controller="Admin" asp-action="AddProduct">Add Product</a>

<table class="table">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Year</th>
        <th>Price</th>
        <th>Pieces</th>
        <th></th>
        <th></th> <!-- Empty header for the Edit button column -->
        <th></th> <!-- Empty header for the Delete button column -->
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products) {
        <tr>
            <td>@product.productName</td>
            <td>@product.year</td>
            <td>@product.price</td>
            <td>@product.numParts</td>
            <td></td>
            <td>
                <form method="get" asp-controller="Admin" asp-action="EditProduct" asp-route-id="@product.productId">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </td>
            <td>
                <form method="get" asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@product.productId">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<nav class="pagination nav-link">
    <div page-model="@Model.PaginationInfo" page-action="AdminProducts" class="pagination"></div>
    <select onchange="location.href = '@Url.Action("AdminProducts", "Admin")' + '?pageNum=1&pageSize=' + this.value">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>

</nav>
<br/><br/>