@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="col-4 mx-auto">
    <section>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Register</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="NewUser.firstName" class="form-control" autocomplete="given-name" aria-required="true" placeholder="John" />
                <label asp-for="NewUser.firstName">First Name</label>
                <span asp-validation-for="NewUser.firstName" class="text-danger"></span>
            </div>
                
            <div class="form-floating mb-3">
                <input asp-for="NewUser.lastName" class="form-control" autocomplete="family-name" aria-required="true" placeholder="Doe" />
                <label asp-for="NewUser.lastName">Last Name</label>
                <span asp-validation-for="NewUser.lastName" class="text-danger"></span>
            </div>
                
            <div class="form-floating mb-3">
                <input asp-for="NewUser.birthDate" class="form-control" type="date" aria-required="true" />
                <label asp-for="NewUser.birthDate">Birth Date</label>
                <span asp-validation-for="NewUser.birthDate" class="text-danger"></span>
            </div>
                
            <div class="form-floating mb-3">
                <input asp-for="NewUser.country" class="form-control" autocomplete="country" aria-required="true" placeholder="Country" />
                <label asp-for="NewUser.country">Country</label>
                <span asp-validation-for="NewUser.country" class="text-danger"></span>
            </div>
                
            <div class="form-floating mb-3">
                <select asp-for="NewUser.gender" class="form-select" aria-required="true">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <label asp-for="NewUser.gender">Gender</label>
                <span asp-validation-for="NewUser.gender" class="text-danger"></span>
            </div>
                
            <div class="form-floating mb-3">
                <input asp-for="NewUser.age" class="form-control" type="number" aria-required="true" placeholder="Age" />
                <label asp-for="NewUser.age">Age</label>
                <span asp-validation-for="NewUser.age" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
        <br/>
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="w-100 btn btn-lg btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"> Register with @provider.DisplayName</button>
                                <br/>
                            }
                        </p>
                    </div>
                </form>
            }
        }
   </section> 
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
