@page

@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    var userData = HttpContextAccessor.HttpContext.Session.GetJson<User>("UserData");
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>You Info</p>
        <form method="post">
            <input type="hidden" id="userId" value="@userData.userId"/>
            <br/>
            <label for="firstName">First Name</label>
            <input id="firstName" name="firstName" value="@userData.firstName"/>
            <br/>
            <label for="lastName">Last Name</label>
            <input id="lastName" name="lastName" value="@userData.lastName"/>
            <br/>
            <label for="birthDate">Birth Date</label>
            <input id="birthDate" name="birthDate" value="@userData.birthDate"/>
            <br/>
            <label for="country">Country</label>
            <input id="country" name="country" value="@userData.country"/>
            <br/>
            <label for="gender">Gender</label>
            <input id="gender" name="gender" value="@userData.gender"/>
            <br/>
            <label for="age">Age</label>
            <input id="age" name="age" value="@userData.firstName"/>
            <br/>
            <input type="hidden" id="email" name="email" value="@userData.email"/>
            <input type="hidden" id="role" name="role" value="@userData.role"/>
            
            <button class="btn btn-primary" type="submit">Update Info</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
